/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

a {
  color: hsl(13deg, 100%, 30%);
}

a:hover {
  color: hsl(13deg, 100%, 30%);
}

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

button, input[type=submit] {
  background-color: white;
  padding: 0.3em 1.6em;
  font-size: 1em;
  border-radius: 1em;
}

input {
  font-size: 1.2em;
}

input[type=text], textarea {
  width: 100%;
}
